html .index{
    font-family: 'Source Sans Pro', sans-serif;
    background: url(img/placeholder.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    background-color: #F0F0F0;
    font-family: 'Source Sans Pro', sans-serif;
}

html .index textarea:focus, 
html .index textarea:focus input:focus, 
html .index textarea:focus a:focus{
    outline: none;
}


a:link {border: none !important;}
/* visited link */
a:visited { border: none !important;}
/* mouse over link */
a:hover {border: none !important;}
/* selected link */
a:active {border: none !important;} 

body .slider {
}

.text-block {
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    color: #F2E3CC;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.top-nav {
    margin-bottom: 40px;
    background-color: #5C5C5C;
    height: 75px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 4;
    opacity: 0.9;
}

.top-nav ul{
    padding: 20px;
    display: flex;
    align-items: center;
    float: right;
}

.nav-logo {
    float: left;
    width: 100px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.nav-logo img{
}

.section-button {
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    color: #F2E3CC;
    font-size: 10px;
}

.section-button-left,
.section-button-right {
    border: 1px solid #F2E3CC;
    color: #666666;
    padding: 5px;
    width: 90px;
    margin-right: 10px;
    text-align: center;
}

.section-button-left {
    float: left;
}

.section-button-right {
    float: right;
}

.section-button-left a,
.section-button-right a{
    color: #F2E3CC;
    font-size: 18px;
    text-decoration: none;
}


.secondary-nav {
    height: 90px;
    padding-top: 10%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.secondary-nav a {
    color: #000;
    font-size: 26px;
    padding: 0 5px;
}

#center_wrapper {
    padding: 2% 0 15% 0;
}

.slider-title {
    font-family: 'Source Sans Pro', sans-serif;

    text-align: center;
    padding: 20px;
    font-size: 32px;
    float: left;
    text-transform: uppercase;
}
.other-links {
    float: left;
    padding: 33px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 26px;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    text-align: center; 
}

#section-buttons-container {
    display: flex;
    justify-content: center;
}

.text-block ul li a,
.section-button ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #F2E3CC;
    font-size: 18px;
}

.text-block ul li a:hover{
	text-decoration: underline;
}

.bg-image {
    /*display: none;*/
}

.adam-title {
    text-transform: uppercase; 
    color: #F2E3CC; 
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 400;
}

#menu-main {    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    width: 100px;
    float: right;
}

#menu-main a{    
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-size: 15px;
}

#menu-main a:hover{    
    text-decoration: underline;
}

.close {
    float: left;
    z-index: 1000;
    width: 50%;
    position: absolute;
}

.close-icon {
    float: right;
    padding: 20px;
}

.button {
    border: 1px solid;
    padding: 10px;
    width: 90px;
    float: left;
    margin-right: 10px;
}

.arrow-down {
    position: absolute;
    z-index: 4;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
} 

.arrow-up {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 0;
}

.arrow-down img,
.arrow-up img {
    width: 30px;
    padding: 10px 0;
}

#slide1-work img {
    width: 50%;
}

#about {
    background-color: #F0F0F0;
    padding: 10% 30% 0 30%;
    text-align: center;
}

.about-text p {
    margin-bottom: 15px;
    padding: 0;
}

.site-h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 34px;
}

.social {
    color: #000;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    float: right;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    height: 40px;
    opacity: 0.8;
    width: 100%;
}

.footer-icons li {
    float: left;
    padding: 5px;
}

.footer-icons a {
    color: #5c5c5c;
    width: 10px;
}

@media screen and (max-width: 880px) {
    .bg-image {
        display: block;
    }

	.bg-image img {
        width: 100%;
    }

    #myVideo {
        display: none;
    }

    .text-block {
        width: 50%;
        margin-left: 22%;
    }

    .text-block p {
        font-size: 20px;
    }

    .text-block ul li a {
        font-size: 30px;
    }

    .arrow-down {
        display: block;
    }

    #fp-nav ul, .fp-slidesNav ul {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    #myVideo {
        display: none;
    }

    .text-block {
        margin-left: 40px;
        width: 75%;
    }

    .text-block p {
        font-size: 20px;
    }

    .text-block ul li a {
        font-size: 20px;
    }

    .arrow-down {
        display: block;
    }

    #fp-nav ul, .fp-slidesNav ul {
        display: none;
    }
}
